@model Zamba.WebAdmin.Models.USERADMIN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4 style="text-align:center">Estas seguro de borrar esta fila?</h4>
<div>
    <hr />
    <dl class="dl-horizontal" style="background-color:#f9f9f9">
        <dt>
            @Html.DisplayNameFor(model => model.idadmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idadmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Borrar" class="btn btn-warning" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
